@font-face {
  font-family: 'icomoon';
  src: url('../font/FontIcons/icomoon.eot');
  src: url('../font/FontIcons/icomoon.eot') format('embedded-opentype'),
    url('../font/FontIcons/icomoon.ttf') format('truetype'),
    url('../font/FontIcons/icomoon.woff') format('woff'),
    url('../font/FontIcons/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-']::before,
[class*=' icon-']::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: '\e900';
}
.icon-google:before {
  content: '\e901';
}
.icon-home:before {
  content: '\e902';
}
