@font-face {
  font-family: "Saudagar";
  src: url(../font/Saudagar/Saudagar.ttf) format("truetype"), url(../font/Saudagar/Saudagar.woff) format("woff"), url(../font/Saudagar/Saudagar.woff2) format("woff2");
}
@font-face {
  font-family: "SukhumvitSet";
  src: url(../font/SukhumvitSet/Light/SukhumvitSet-Light.ttf) format("truetype"), url(../font/SukhumvitSet/Light/SukhumvitSet-Light.woff) format("woff"), url(../font/SukhumvitSet/Light/SukhumvitSet-Light.woff2) format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "SukhumvitSet";
  src: url(../font/SukhumvitSet/Medium/SukhumvitSet-Medium.ttf) format("truetype"), url(../font/SukhumvitSet/Medium/SukhumvitSet-Medium.woff) format("woff"), url(../font/SukhumvitSet/Medium/SukhumvitSet-Medium.woff2) format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "SukhumvitSet";
  src: url(../font/SukhumvitSet/Bold/SukhumvitSet-Bold.ttf) format("truetype"), url(../font/SukhumvitSet/Bold/SukhumvitSet-Bold.woff) format("woff"), url(../font/SukhumvitSet/Bold/SukhumvitSet-Bold.woff2) format("woff2");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}

.color-accent {
  color: #dcac9b;
}

.bg-accent {
  background-color: #dcac9b;
}

.color-lightgray {
  color: rgba(255, 255, 255, 0.8);
}

.bg-lightgray {
  background-color: rgba(255, 255, 255, 0.8);
}

.color-gray {
  color: rgba(26, 26, 26, 0.8);
}

.bg-gray {
  background-color: rgba(26, 26, 26, 0.8);
}

.color-darkgray {
  color: #1a1a1a;
}

.bg-darkgray {
  background-color: #1a1a1a;
}

.color-black {
  color: black;
}

.bg-black {
  background-color: black;
}

.color-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.p16 {
  font-size: 1rem;
  line-height: 26px;
}

.p18 {
  font-size: 1.2rem;
  line-height: 24px;
}

.p22 {
  font-size: 1.4rem;
  line-height: 38px;
}

.p25 {
  font-size: 1.6rem;
  line-height: 32px;
}

.p30 {
  font-size: 1.9rem;
  line-height: 45px;
}

.p32 {
  font-size: 2rem;
  line-height: 42px;
}

.p50 {
  font-size: 3.2rem;
  line-height: 65px;
  font-family: "Saudagar";
}

.p275 {
  font-size: 17.1rem;
  line-height: 265px;
  font-family: "Saudagar";
}

.input {
  width: 100%;
  height: 55px;
  background-color: #1a1a1a;
  border: 0px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  font-family: "SukhumvitSet";
  font-weight: 300;
  outline: none;
  color: rgba(255, 255, 255, 0.8);
}

.input::placeholder {
  text-transform: uppercase;
  color: #8e8e8e;
}

.input:focus {
  border-bottom: 2px solid #dcac9b;
  transition: 0.3s;
}

.sbc-btn {
  width: 280px;
  color: black;
  text-decoration: none;
  height: 60px;
  background-color: #dcac9b;
  border: 0px;
  border-radius: 2px;
  font-family: "SukhumvitSet";
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sbc-btn:last-child {
  width: 100%;
}

.sbc-btn:hover,
.link-btn:hover {
  cursor: pointer;
}

.link-btn {
  border: 0px;
  width: 180px;
  height: 50px;
  background: black;
  color: white;
  border-radius: 2px;
  font-family: "SukhumvitSet";
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes salon_animation {
  0% {
    width: 0;
  }
  40% {
    width: 4ch;
  }
  100% {
    width: 4ch;
  }
}
@keyframes comingsoon-animation {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes textblock-animation {
  0% {
    transform: translateX(350px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes circle-animation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes circle-arrow-animation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-7.5%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(7.5%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes circle-arrow-animation-mobile {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2.5%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(2.5%);
  }
  100% {
    transform: translateX(0);
  }
}
header {
  padding: 0 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links {
  font-family: "SukhumvitSet";
  font-weight: 500;
  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}

.head-app-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

#apple-icon,
#google-icon {
  margin-right: 10px;
}

.main {
  width: 100%;
  background-color: lightcoral;
  overflow: hidden;
}

.entry-block {
  position: relative;
  height: 100vh;
  background-image: url(../img/hero-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-half-dark {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.72);
  padding-top: 80px;
}

.info-block {
  height: 100vh;
  color: white;
  background-color: #1a1a1a;
  position: relative;
}

#coming-soon-box {
  width: 100%;
  border: 1px solid aqua;
  text-align: center;
}

#coming-soon {
  font-family: "Saudagar";
  text-transform: uppercase;
  font-size: 15.9vw;
  line-height: 300px;
  opacity: 0.05;
}

ul {
  opacity: 0.05;
  font-size: 14vw;
  font-family: "Saudagar";
  display: flex;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  flex: 1;
  animation: comingsoon-animation 1s ease 0s 1 normal forwards;
  margin-top: -3.8%;
}

.info-text {
  max-width: 865px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.info-text p:nth-child(2) {
  margin: 40px 0;
}

.info-text-h {
  padding: 0 20px;
  font-family: "Saudagar";
  text-transform: uppercase;
  color: white;
}

.info-text-p {
  font-family: "SukhumvitSet";
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
}

.schedule-block {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 225px;
}

.shedule-image {
  z-index: 5;
  margin-top: -10%;
  margin-bottom: 225px;
}
.shedule-image img {
  width: 100%;
}

.shedule-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shedule-text-img {
  margin-right: 250px;
}

.text-block {
  width: 484px;
  height: 330px;
  animation-iteration-count: 1;
}

.text-block-num {
  width: 100%;
  font-family: "Saudagar";
  color: #dcac9b;
  opacity: 0;
  transform: translateX(350px);
}

.num-anim {
  opacity: 1;
  transition: 0.2s;
  transform: translateX(0);
}

.text-block-title {
  width: 390px;
  font-family: "Saudagar";
  text-transform: uppercase;
  color: #1a1a1a;
}

.text-block-text {
  width: 100%;
  height: calc(100% - 180px);
  font-family: "SukhumvitSet";
  font-weight: 300;
  color: rgba(26, 26, 26, 0.8);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.money-block {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.money-block-img {
  width: 580px;
  height: 1030px;
  margin-top: -80px;
  margin-left: 300px;
}

.phone-block {
  padding: 150px 0px;
  background-color: white;
}

.phone-block-textblocks {
  display: flex;
  justify-content: center;
}

.phone-block-textblocks .text-block:nth-child(1) {
  margin-right: 400px;
}

.phone-block-phone {
  width: 100%;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.phone-block-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-links {
  display: flex;
  margin-top: 40px;
}

.block-links button:nth-child(1) {
  margin-right: 20px;
}

.coming-soon-links {
  font-family: "SukhumvitSet";
  font-weight: 500;
}

.subscribe-block {
  height: 90vh;
  background-color: lightgray;
}

.subscribe-photo {
  width: 50%;
  height: 100%;
  float: left;
  background-position: center;
  background-image: url(../img/subscribe-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-form {
  width: 50%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-subs {
  width: 560px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  width: 100%;
  height: 110px;
  padding: 0px 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.copyright-block {
  display: flex;
  align-items: center;
  font-family: "SukhumvitSet";
  font-weight: 500;
}

#copyright-icon {
  margin-right: 8px;
}

.inputs {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
}

.entry-text {
  margin: 45px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.entry-text-quality {
  text-transform: uppercase;
  font-family: "SukhumvitSet";
  font-weight: 300;
  margin-bottom: 50px;
}

.input-reverse {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.label {
  opacity: 0;
  color: white;
  font-family: "SukhumvitSet";
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: -5px;
}

.input:focus + .label {
  transition: opacity 0.3s linear;
  opacity: 1;
}

#dropdown-arrow-icon {
  font-size: 0.8rem;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 60%;
}

.salon-anim {
  animation: salon_animation 3s infinite steps(5);
  white-space: nowrap;
  overflow: hidden;
}

.salon-div {
  height: 265px;
}

#salon::after {
  content: " ";
  animation: abomination1 4s linear infinite;
}

@keyframes abomination1 {
  0% {
    content: "";
  }
  22.5% {
    content: "S";
  }
  35% {
    content: "SA";
  }
  47.2% {
    content: "SAL";
  }
  60% {
    content: "SALO";
  }
  72.5% {
    content: "SALON";
  }
  100% {
    content: "SALON";
  }
}
.circle-block {
  position: absolute;
  display: flex;
  align-items: center;
  animation: circle-arrow-animation 4s infinite linear;
}

.circle-block .circle:nth-child(2) {
  margin: 0 25px;
}

.circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  z-index: 0;
  animation: circle-animation 10s infinite linear;
}

.phone-image {
  width: 350px;
  z-index: 10;
}
.phone-image img {
  width: 100%;
}

#logo-mobile {
  display: none;
}

.header-links-mobile {
  display: none;
}

#money-image-mobile {
  display: none;
}

@media screen and (pointer: coarse) {
  .text-block-num {
    opacity: 1;
    transition: 0.2s;
    transform: translateX(0);
  }
}
@media screen and (max-width: 1440px) {
  .shedule-image {
    margin-top: 0px;
  }

  .phone-image {
    width: 300px;
  }

  .circle {
    width: 400px;
    height: 400px;
  }

  .money-block {
    justify-content: space-between;
    padding: 0 50px;
  }

  .shedule-block {
    align-items: baseline;
  }

  .shedule-text {
    width: 100%;
    padding: 0 50px;
    justify-content: space-between;
  }

  .shedule-text-img {
    margin-right: 0px;
  }

  #form-subs {
    width: 80%;
    height: 85%;
  }

  .inputs {
    margin-bottom: 30px;
  }

  .input {
    height: 40px;
  }

  .info-text {
    transform: translate(-50%, -40%);
  }
}
@media screen and (max-width: 1024px) {
  .p275 {
    font-size: 10rem;
  }

  .phone-image {
    width: 275px;
  }

  .p32 {
    font-size: 1.6rem;
  }

  .header-links {
    width: 450px;
  }

  header {
    padding: 0 75px;
  }

  .p50 {
    font-size: 2rem;
  }

  .p22 {
    font-size: 1.2rem;
  }

  .shedule-text-img {
    width: 425px;
  }
  .shedule-text-img img {
    width: 100%;
  }

  .circle {
    width: 300px;
    height: 300px;
  }

  .text-block-text {
    height: auto;
  }

  .text-block {
    height: auto;
    width: 400px;
  }

  .phone-block-textblocks .text-block:nth-child(1) {
    margin-right: 100px;
  }

  .money-block-img {
    width: auto;
    height: 682px;
    margin-top: 0px;
    margin-left: 150px;
  }
  .money-block-img img {
    width: 100%;
  }

  .phone-block {
    padding: 100px 0px;
  }

  .label {
    font-size: 12px;
  }

  #form-subs {
    height: 85%;
  }

  footer {
    padding: 0px 85px;
  }
}
@media screen and (max-width: 768px) {
  .header-links {
    display: none;
  }

  header {
    justify-content: center;
  }

  .p275 {
    font-size: 8rem;
    line-height: 350px;
  }

  .p32 {
    font-size: 1.4rem;
  }

  .header-links-mobile {
    width: 400px;
    font-size: 1rem;
    font-family: "SukhumvitSet";
    font-weight: 500;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
  }

  .info-text {
    width: 80%;
  }

  .shedule-image {
    margin-bottom: 100px;
  }

  .shedule-text {
    flex-direction: column-reverse;
  }

  .shedule-text-img {
    margin-top: 50px;
    width: auto;
  }

  .schedule-block {
    padding-bottom: 150px;
  }

  .money-block {
    padding: 0;
    padding-top: 100px;
    flex-direction: column;
  }

  #money-image {
    display: none;
  }

  #money-image-mobile {
    display: block;
  }

  .money-block-img {
    margin-left: 0px;
    margin-top: 75px;
    width: 100%;
    height: auto;
  }

  .phone-block-textblocks {
    flex-direction: column;
    align-items: center;
  }

  .phone-block-textblocks .text-block:nth-child(1) {
    margin-right: 0;
    margin-bottom: 25px;
  }

  .phone-image {
    width: 250px;
  }

  .circle {
    width: 300px;
    height: 300px;
  }

  .subscribe-photo {
    display: none;
  }

  .subscribe-form {
    width: 100%;
  }

  footer {
    padding: 0px 65px;
  }
}
@media screen and (max-width: 375px) {
  html,
body {
    font-size: 16px;
    overflow-x: hidden;
  }

  .entry-block {
    background-image: url(../img/hero-image-mobile.png);
    background-position: right 72% top 50%;
  }

  .header {
    justify-content: center;
  }

  .salon-div {
    height: 150px;
  }

  #apple-icon,
#google-icon {
    width: 10px;
    margin-right: 5px;
  }

  #logo {
    display: none;
  }

  #logo-mobile {
    display: block;
  }

  .header-links {
    display: none;
  }

  .bg-half-dark {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .p275 {
    font-size: 6.25rem;
    line-height: 130%;
  }

  .entry-text-quality {
    font-size: 1rem;
    line-height: 130%;
    margin-bottom: 0px;
  }

  .sbc-btn {
    margin-top: 45px;
    margin-bottom: 100px;
  }

  .header-links-mobile {
    font-size: 0.75rem;
    font-family: "SukhumvitSet";
    font-weight: 500;
    width: 250px;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info-block {
    height: 80vh;
  }

  .info-text {
    width: 100%;
    top: 50%;
  }

  .info-text-h {
    padding: 0 10px;
    font-size: 1.6rem;
    line-height: 130%;
  }

  .info-text-p {
    padding: 0 38px;
    font-size: 0.9rem;
    line-height: 172%;
  }

  .schedule-block {
    padding-bottom: 50px;
  }

  .shedule-image {
    margin-bottom: 50px;
    margin-top: 0px;
    width: 100%;
    height: auto;
  }
  .shedule-image img {
    width: 375px;
  }

  .shedule-text {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .shedule-text-img {
    display: flex;
    justify-content: center;
  }

  .shedule-text-img {
    width: 100%;
  }
  .shedule-text-img img {
    width: 335px;
    height: 183px;
  }

  .text-block {
    width: 375px;
    height: 110px;
    padding: 0 20px;
  }

  .text-block-num {
    width: 50%;
    height: 21px;
  }
  .text-block-num p {
    font-size: 1rem;
    line-height: 150%;
  }

  .num-anim {
    opacity: 1;
    transition: 0.2s;
    transform: translateX(0);
  }

  .text-block-title {
    width: 100%;
    height: 32px;
  }
  .text-block-title p {
    font-size: 1.6rem;
    line-height: 130%;
  }

  .text-block-text {
    width: 100%;
    height: calc(100% - 21px - 32px);
    padding-right: 10px;
  }
  .text-block-text p {
    font-size: 0.87rem;
    line-height: 172%;
  }

  .money-block {
    width: 100%;
    padding: 0px;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 50px;
  }

  .money-block-img {
    width: 100%;
  }

  #money-image {
    display: none;
  }

  #money-image-mobile {
    display: block;
  }

  .phone-block {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .phone-block-textblocks {
    width: 100%;
    flex-direction: column;
  }

  .phone-block-phone {
    height: auto;
    margin: 20px 0;
  }

  .circle-block {
    width: auto;
    padding: 0;
    position: absolute;
    animation: circle-arrow-animation-mobile 2s infinite linear;
  }

  .circle {
    width: 200px;
    height: 200px;
  }

  .phone-image {
    width: 150px;
    height: 315px;
  }
  .phone-image img {
    width: 100%;
  }

  .phone-block-links {
    padding: 0 20px;
    height: auto;
  }

  .coming-soon-links {
    font-size: 0.75rem;
    line-height: 130%;
  }

  .link-btn {
    width: 160px;
    height: 45px;
  }

  .block-links {
    margin-top: 15px;
  }

  .subscribe-block {
    height: auto;
  }

  .subscribe-photo {
    display: none;
  }

  .subscribe-form {
    width: 100%;
    padding: 70px 0px;
  }

  #subscribe-footer {
    font-size: 1.6rem;
    line-height: 130%;
    margin-bottom: 5px;
  }

  #form-subs {
    width: 85%;
  }

  .inputs {
    margin-bottom: 0px;
  }

  .input {
    height: 55px;
  }

  .sbc-btn {
    margin-bottom: 0px;
  }

  .label {
    font-weight: 300;
  }

  footer {
    height: 95px;
    padding: 0px 20px;
  }

  #copyright-icon {
    margin-right: 3px;
    width: 8px;
  }

  .copyright-block {
    font-size: 0.62rem;
    line-height: 165%;
    align-items: center;
  }
}