@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

:root {
  --primary-color: 0, 82, 255;
  --secondary-color: 254, 149, 38;
  --info-color: 255, 203, 47;
  --success-color: 83, 216, 106;
  --error-color: 255, 52, 52;
  --gray: rgb(189, 189, 189);

  --opacity-8: 8%;
  --opacity-16: 16%;
  --opacity-24: 24%;
  --opacity-32: 32%;
  --opacity-40: 40%;
  --opacity-48: 48%;

  --shadow-bottom-lvl0: inset 0px -1px 0px #eaeaea;
  --shadow-bottom-lvl1: 0px 2px 10px rgba(25, 1, 52, 0.12);
  --shadow-bottom-lvl2: 0px 4px 10px rgba(25, 1, 52, 0.12);

  --shadow-top-lvl0: inset 0px 1px 0px #eaeaea;
  --shadow-top-lvl1: 0px -2px 10px rgba(25, 1, 52, 0.12);
  --shadow-top-lvl2: 0px -4px 10px rgba(25, 1, 52, 0.12);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* --------------------------------------- */

p {
  font-size: 14px;
  line-height: 18px;
}

.p1 {
  font-size: 20px;
  line-height: 28px;
}

.p2 {
  font-size: 18px;
  line-height: 26px;
}

.p3 {
  font-size: 16px;
  line-height: 24px;
}

.p4 {
  font-size: 14px;
  line-height: 22px;
}

/* --------------------------------------- */

hr {
  margin: 15px 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 700;
}

.h1 {
  font-size: 32px;
  line-height: 42px;
}

.h2 {
  font-size: 28px;
  line-height: 36px;
}

.h3 {
  font-size: 22px;
  line-height: 30px;
}

.h4 {
  font-size: 20px;
  line-height: 28px;
}

.h5 {
  font-size: 18px;
  line-height: 26px;
}

.h6 {
  font-size: 16px;
  line-height: 24px;
}

/* --------------------------------------- */

.shadow-bottom-lvl0 {
  box-shadow: var(--shadow-bottom-lvl0);
}

.shadow-bottom-lvl1 {
  box-shadow: var(--shadow-bottom-lvl1);
}

.shadow-bottom-lvl2 {
  box-shadow: var(--shadow-bottom-lvl2);
}

.shadow-top-lvl0 {
  box-shadow: var(--shadow-top-lvl0);
}

.shadow-top-lvl1 {
  box-shadow: var(--shadow-top-lvl1);
}

.shadow-top-lvl2 {
  box-shadow: var(--shadow-top-lvl2);
}

/* --------------------------------------- */

.clr-primary-10 {
  background-color: hsl(221, 100%, 90%);
}

.clr-primary-20 {
  background-color: hsl(221, 100%, 80%);
}

.clr-primary-30 {
  background-color: hsl(221, 100%, 70%);
}

.clr-primary-40 {
  background-color: hsl(221, 100%, 60%);
}

.clr-primary {
  background-color: hsl(221, 100%, 50%);
}

.clr-primary-60 {
  background-color: hsl(221, 100%, 40%);
}

.clr-primary-70 {
  background-color: hsl(221, 100%, 30%);
}

.clr-primary-80 {
  background-color: hsl(221, 100%, 20%);
}

.clr-primary-90 {
  background-color: hsl(221, 100%, 10%);
}

/* --------------------------------------- */

.clr-secondary-10 {
  background-color: hsl(31, 100%, 90%);
}

.clr-secondary-20 {
  background-color: hsl(31, 100%, 80%);
}

.clr-secondary-30 {
  background-color: hsl(31, 100%, 70%);
}

.clr-secondary-40 {
  background-color: hsl(31, 100%, 60%);
}

.clr-secondary {
  background-color: hsl(31, 100%, 50%);
}

.clr-secondary-60 {
  background-color: hsl(31, 100%, 40%);
}

.clr-secondary-70 {
  background-color: hsl(31, 100%, 30%);
}

.clr-secondary-80 {
  background-color: hsl(31, 100%, 20%);
}

.clr-secondary-90 {
  background-color: hsl(31, 100%, 10%);
}

/* --------------------------------------- */

.clr-info-10 {
  background-color: hsl(45, 100%, 90%);
}

.clr-info-20 {
  background-color: hsl(45, 100%, 80%);
}

.clr-info-30 {
  background-color: hsl(45, 100%, 70%);
}

.clr-info-40 {
  background-color: hsl(45, 100%, 60%);
}

.clr-info {
  background-color: hsl(45, 100%, 50%);
}

.clr-info-60 {
  background-color: hsl(45, 100%, 40%);
}

.clr-info-70 {
  background-color: hsl(45, 100%, 30%);
}

.clr-info-80 {
  background-color: hsl(45, 100%, 20%);
}

.clr-info-90 {
  background-color: hsl(45, 100%, 10%);
}

/* --------------------------------------- */

.clr-success-10 {
  background-color: hsl(130, 63%, 90%);
}

.clr-success-20 {
  background-color: hsl(130, 63%, 80%);
}

.clr-success-30 {
  background-color: hsl(130, 63%, 70%);
}

.clr-success-40 {
  background-color: hsl(130, 63%, 60%);
}

.clr-success {
  background-color: hsl(130, 63%, 50%);
}

.clr-success-60 {
  background-color: hsl(130, 63%, 40%);
}

.clr-success-70 {
  background-color: hsl(130, 63%, 30%);
}

.clr-success-80 {
  background-color: hsl(130, 63%, 20%);
}

.clr-success-90 {
  background-color: hsl(130, 63%, 10%);
}

/* --------------------------------------- */

.clr-error-10 {
  background-color: hsl(0, 100%, 94%);
}

.clr-error-20 {
  background-color: hsl(0, 100%, 82%);
}

.clr-error-30 {
  background-color: hsl(0, 100%, 76%);
}

.clr-error-40 {
  background-color: hsl(0, 100%, 68%);
}

.clr-error {
  background-color: hsl(0, 100%, 60%);
}

.clr-error-60 {
  background-color: hsl(0, 100%, 54%);
}

.clr-error-70 {
  background-color: hsl(0, 100%, 42%);
}

.clr-error-80 {
  background-color: hsl(0, 100%, 30%);
}

.clr-error-90 {
  background-color: hsl(0, 100%, 12%);
}

/* --------------------------------------- */

.clr-text-primary {
  color: rgb(var(--primary-color));
}

.clr-text-secondary {
  color: rgb(var(--secondary-color));
}

.clr-text-success {
  color: rgb(var(--success-color));
}

.clr-text-info {
  color: rgb(var(--info-color));
}

.clr-text-error {
  color: rgb(var(--error-color));
}

.clr-text-disabled {
  color: var(--gray);
}

/* --------------------------------------- */

.clr-primary-op-8 {
  background-color: rgba(var(--primary-color), 8%);
}

.clr-primary-op-16 {
  background-color: rgba(var(--primary-color), 16%);
}

.clr-primary-op-24 {
  background-color: rgba(var(--primary-color), 24%);
}

.clr-primary-op-32 {
  background-color: rgba(var(--primary-color), 32%);
}

.clr-primary-op-40 {
  background-color: rgba(var(--primary-color), 40%);
}

.clr-primary-op-48 {
  background-color: rgba(var(--primary-color), 48%);
}

/* --------------------------------------- */

.clr-secondary-op-8 {
  background-color: rgba(var(--secondary-color), 8%);
}

.clr-secondary-op-16 {
  background-color: rgba(var(--secondary-color), 16%);
}

.clr-secondary-op-24 {
  background-color: rgba(var(--secondary-color), 24%);
}

.clr-secondary-op-32 {
  background-color: rgba(var(--secondary-color), 32%);
}

.clr-secondary-op-40 {
  background-color: rgba(var(--secondary-color), 40%);
}

.clr-secondary-op-48 {
  background-color: rgba(var(--secondary-color), 48%);
}

/* --------------------------------------- */

.clr-info-op-8 {
  background-color: rgba(var(--info-color), 8%);
}

.clr-info-op-16 {
  background-color: rgba(var(--info-color), 16%);
}

.clr-info-op-24 {
  background-color: rgba(var(--info-color), 24%);
}

.clr-info-op-32 {
  background-color: rgba(var(--info-color), 32%);
}

.clr-info-op-40 {
  background-color: rgba(var(--info-color), 40%);
}

.clr-info-op-48 {
  background-color: rgba(var(--info-color), 48%);
}

/* --------------------------------------- */

.clr-success-op-8 {
  background-color: rgba(var(--success-color), 8%);
}

.clr-success-op-16 {
  background-color: rgba(var(--success-color), 16%);
}

.clr-success-op-24 {
  background-color: rgba(var(--success-color), 24%);
}

.clr-success-op-32 {
  background-color: rgba(var(--success-color), 32%);
}

.clr-success-op-40 {
  background-color: rgba(var(--success-color), 40%);
}

.clr-success-op-48 {
  background-color: rgba(var(--success-color), 48%);
}

/* --------------------------------------- */

.clr-error-op-8 {
  background-color: rgba(var(--error-color), 8%);
}

.clr-error-op-16 {
  background-color: rgba(var(--error-color), 16%);
}

.clr-error-op-24 {
  background-color: rgba(var(--error-color), 24%);
}

.clr-error-op-32 {
  background-color: rgba(var(--error-color), 32%);
}

.clr-error-op-40 {
  background-color: rgba(var(--error-color), 40%);
}

.clr-error-op-48 {
  background-color: rgba(var(--error-color), 48%);
}
