@import 'main.css';

.main {
  width: 1300px;
  margin: 0 auto;
  margin-top: 10px;
}

.task-typography {
  width: 100%;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  text-align: left;
  margin-top: 10px;
}

.table th {
  background-color: #e6eeff;
  padding: 20px 40px;
  height: 67px;
}

.table td {
  border-bottom: 1px solid #e6eeff;
  border-top: 1px solid #e6eeff;
  padding: 40px;
}

.table tr:last-child td {
  border: 0;
}

.table-components {
  text-align: center;
}

.task-colors {
  width: 100%;
  margin-top: 20px;
  padding: 80px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.color-element {
  width: 490px;
  height: 560px;
  margin-bottom: 80px;

  display: flex;
  justify-content: space-between;
}

.color-info {
  width: 130px;
  height: 100%;
}

.color-info-block {
  width: 130px;
  height: 130px;
  border-radius: 4px 4px 0px 0px;
}

.color-info-text {
  width: 130px;
  height: 50px;
  border: 1px solid #e6eeff;
  border-radius: 0px 0px 4px 4px;
  padding: 5px 10px;
}

.color-saturation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 135px;
  height: 100%;
}

.color-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
}

.color-value p {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.color-value-block {
  width: 48px;
  height: 48px;
}

.color-opacity {
  width: 135px;
  height: 100%;
}

.color-opacity .color-value {
  margin-bottom: 16px;
}

.main > p {
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
}

.task-shadow {
  width: 100%;
  margin-top: 20px;
  padding: 40px 80px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.shadow-element {
  text-align: center;
}

.shadow-element-block {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #f2f2f2;
}

.button-primary {
  background-color: rgb(var(--primary-color));
  padding: 12px 40px;
  color: white;
  border-radius: 4px;
  border: 0;
  font-size: 1em;
  cursor: pointer;
}

.button-primary-hover:hover,
.button-primary-focus:focus {
  background-color: hsl(221, 100%, 60%);
}

.button-primary-disabled {
  color: hsl(221, 100%, 70%);
  background-color: rgba(0, 82, 255, 8%);
  cursor: not-allowed;
}

.button-ghost {
  background-color: white;
  padding: 12px 40px;
  color: rgb(var(--primary-color));
  border-radius: 4px;
  border: 0;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid rgb(var(--primary-color));
}

.button-ghost-hover:hover,
.button-ghost-focus:focus {
  background-color: hsl(221, 100%, 90%);
}

.button-ghost-disabled {
  color: hsl(221, 100%, 80%);
  border: 1px solid hsl(221, 100%, 80%);
  cursor: not-allowed;
}

.fa-arrow-left {
  margin-right: 10px;
}

.fa-arrow-right {
  margin-left: 10px;
}

.input {
  height: 45px;
  width: 250px;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid var(--gray);
  font-size: 14px;

  font-family: Inter, FontAwesome;
}

.input::placeholder {
  color: var(--gray);
}

.input-left-icon {
  height: 45px;
  width: 250px;
  padding-left: 40px;
  border-radius: 4px;
  border: 1px solid var(--gray);
  font-size: 14px;

  font-family: Inter, FontAwesome;
}

.input-left-icon::placeholder {
  color: var(--gray);
}

.input-right-icon {
  height: 45px;
  width: 250px;
  padding: 12px;
  padding-right: 45px;
  border-radius: 4px;
  border: 1px solid var(--gray);
  font-size: 14px;

  font-family: Inter, FontAwesome;
}

.input-right-icon::placeholder {
  color: var(--gray);
}

.input-hover:hover {
  border: 2px solid rgb(var(--primary-color));
  padding-left: 39px;
}

.input-focus:focus,
.input-pressed:valid {
  border: 2px solid rgb(var(--primary-color));
  outline-color: rgb(var(--primary-color));
  padding-left: 39px;
}

.input-error {
  color: rgb(var(--error-color));
  border: 2px solid rgb(var(--error-color));
  outline-color: rgb(var(--error-color));
}

.input-error::placeholder {
  color: rgb(var(--error-color));
}

.input-success {
  color: rgb(var(--success-color));
  border: 2px solid rgb(var(--success-color));
  outline-color: rgb(var(--success-color));
}

.input-success::placeholder {
  color: rgb(var(--success-color));
}

.input-info {
  color: rgb(var(--info-color));
  border: 2px solid rgb(var(--info-color));
  outline-color: rgb(var(--info-color));
}

.input-info::placeholder {
  color: rgb(var(--info-color));
}

.input:disabled,
.input[disabled],
.input-left-icon:disabled,
.input-left-icon[disabled] {
  color: var(--gray);
  background-color: #f2f2f2;
  border: none;
}

.table-inputs {
  text-align: left;
}

.input-error-undertext,
.input-info-undertext {
  margin-top: 5px;
}

.input-error-undertext {
  color: rgb(var(--error-color));
}

.input-info-undertext {
  color: rgb(var(--info-color));
}

.fa-user {
  font-size: 20px;
  margin: 14px;
  position: absolute;
}

.fa-eye-slash {
  font-size: 20px;
  margin-top: 14px;
  margin-left: 210px;
  position: absolute;
  cursor: pointer;
}

.fa-chevron-down {
  font-size: 12px;
}

.task-dropdown {
  width: 100%;
  margin-top: 20px;
  padding: 40px 80px;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.dropdown {
  width: 325px;
  height: 50px;
  padding: 0px 12px;
  border-radius: 4px;
  border: 1px solid rgb(var(--primary-color));
  color: rgb(var(--primary-color));
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dropdown-list {
  width: 325px;
  height: 150px;

  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.list-element {
  display: flex;
  align-items: center;
  padding: 0px 12px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(0, 82, 255, 0.08);
}

.task-checkbox {
  width: 100%;
  margin-top: 20px;
  padding: 40px 80px;

  display: flex;
  justify-content: space-evenly;
}

.checkbox-block,
.radio-block,
.switch-block {
  height: 130px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

.checkbox-element {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox-element + label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid rgb(var(--primary-color));
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60% 60%;
  box-sizing: border-box;
}

.checkbox-element:checked + label::before {
  border-color: rgb(var(--primary-color));
  background-color: rgb(var(--primary-color));
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.checkbox-element:disabled + label::before {
  border: 2px solid rgba(var(--primary-color), 25%);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.radio-element {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio-element + label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  margin-right: 0.5em;
  border: 2px solid rgb(var(--primary-color));
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60% 60%;
  box-sizing: border-box;
}

.radio-element:checked + label::before {
  border-color: rgb(var(--primary-color));
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-3.5 -3.5 7 7'%3e%3ccircle r='3' fill='%230051ff'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.radio-element:disabled + label::before {
  border: 2px solid rgba(var(--primary-color), 25%);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Switch from w3school */

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: rgb(var(--primary-color));
}
input:focus + .slider {
  box-shadow: 0 0 1px rgb(var(--primary-color));
}
input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
