*{
    margin: 0px;
    padding: auto;
    box-sizing: border-box;
}

.main{
    width: 1110px;
    height: 100vh;
    background-color: pink;
    margin: 0 auto;

    display: grid;
    grid-template: 1fr / repeat(12, 65px);
    gap: 0px 30px;
}

.column{
    width: 65px;
    height: 100%;
    background-color: red;
    opacity: .25;
}