@media screen and (max-width: 1024px) {
    .main{
        background-color:yellow;
        width: 930px;
        grid-template: 1fr / repeat(12, 50px);
    }
    .column{
        width: 50px;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    .main{
        background-color:orange;
        width: 930px;
        grid-template: 1fr / repeat(6, 130px);
    }
    .column{
        width: 130px;
    }
}

@media screen and (max-width: 812px) {
    .main{
        background-color:green;
        width: 690px;
        grid-template: 1fr / repeat(6, 90px);
    }
    .column{
        width: 90px;
    }
}

@media screen and (max-width: 736px) {
    .main{
        background-color:blue;
        width: 510px;
        grid-template: 1fr / repeat(6, 60px);
    }
    .column{
        width: 60px;
    }
}

@media screen and (max-width: 414px) {
    .main{
        background-color:lightcoral;
        width: 384px;
        grid-template: 1fr / repeat(3, 108px);
    }
    .column{
        width: 108px;
    }
}

@media screen and (max-width: 375px) {
    .main{
        background-color:magenta;
        width: 345px;
        grid-template: 1fr / repeat(3, 95px);
    }
    .column{
        width: 95px;
    }
}