@keyframes salon_animation {
  0% {
    width: 0;
  }
  40% {
    width: 4ch;
  }
  100% {
    width: 4ch;
  }
}

@keyframes comingsoon-animation {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes textblock-animation {
  0% {
    transform: translateX(350px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes circle-animation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@keyframes circle-arrow-animation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-7.5%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(7.5%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes circle-arrow-animation-mobile {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2.5%);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(2.5%);
  }
  100% {
    transform: translateX(0);
  }
}
