@font-face {
  font-family: "Saudagar";
  src: url(../font/Saudagar/Saudagar.ttf) format("truetype"),
    url(../font/Saudagar/Saudagar.woff) format("woff"),
    url(../font/Saudagar/Saudagar.woff2) format("woff2");
}

@font-face {
  font-family: "SukhumvitSet";
  src: url(../font/SukhumvitSet/Light/SukhumvitSet-Light.ttf) format("truetype"),
    url(../font/SukhumvitSet/Light/SukhumvitSet-Light.woff) format("woff"),
    url(../font/SukhumvitSet/Light/SukhumvitSet-Light.woff2) format("woff2");
  font-weight: 300;
}

@font-face {
  font-family: "SukhumvitSet";
  src: url(../font/SukhumvitSet/Medium/SukhumvitSet-Medium.ttf)
      format("truetype"),
    url(../font/SukhumvitSet/Medium/SukhumvitSet-Medium.woff) format("woff"),
    url(../font/SukhumvitSet/Medium/SukhumvitSet-Medium.woff2) format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "SukhumvitSet";
  src: url(../font/SukhumvitSet/Bold/SukhumvitSet-Bold.ttf) format("truetype"),
    url(../font/SukhumvitSet/Bold/SukhumvitSet-Bold.woff) format("woff"),
    url(../font/SukhumvitSet/Bold/SukhumvitSet-Bold.woff2) format("woff2");
  font-weight: 700;
}

$accent: rgb(220, 172, 155);
$white: rgb(255, 255, 255);
$light-gray: rgba(255, 255, 255, 0.8);
$gray: rgba(26, 26, 26, 0.8);
$dark-gray: rgb(26, 26, 26);
$black: rgb(0, 0, 0);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}

.color-accent {
  color: $accent;
}

.bg-accent {
  background-color: $accent;
}

.color-lightgray {
  color: $light-gray;
}

.bg-lightgray {
  background-color: $light-gray;
}

.color-gray {
  color: $gray;
}

.bg-gray {
  background-color: $gray;
}

.color-darkgray {
  color: $dark-gray;
}

.bg-darkgray {
  background-color: $dark-gray;
}

.color-black {
  color: $black;
}

.bg-black {
  background-color: $black;
}

.color-white {
  color: $white;
}

.bg-white {
  background-color: $white;
}

.p16 {
  font-size: 1rem;
  line-height: 26px;
}

.p18 {
  font-size: 1.2rem;
  line-height: 24px;
}

.p22 {
  font-size: 1.4rem;
  line-height: 38px;
}

.p25 {
  font-size: 1.6rem;
  line-height: 32px;
}

.p30 {
  font-size: 1.9rem;
  line-height: 45px;
}

.p32 {
  font-size: 2rem;
  line-height: 42px;
}

.p50 {
  font-size: 3.2rem;
  line-height: 65px;
  font-family: "Saudagar";
}

.p275 {
  font-size: 17.1rem;
  line-height: 265px;
  font-family: "Saudagar";
}

.input {
  width: 100%;
  height: 55px;
  background-color: $dark-gray;
  border: 0px;
  border-bottom: 2px solid rgba($white, 0.5);
  font-family: "SukhumvitSet";
  font-weight: 300;
  outline: none;
  color: $light-gray;
}

.input::placeholder {
  text-transform: uppercase;
  color: #8e8e8e;
}

.input:focus {
  border-bottom: 2px solid $accent;
  transition: 0.3s;
}

.sbc-btn {
  width: 280px;
  color: $black;
  text-decoration: none;
  height: 60px;
  background-color: $accent;
  border: 0px;
  border-radius: 2px;

  font-family: "SukhumvitSet";
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

.sbc-btn:last-child {
  width: 100%;
}

.sbc-btn:hover,
.link-btn:hover {
  cursor: pointer;
}

.link-btn {
  border: 0px;
  width: 180px;
  height: 50px;
  background: $black;
  color: $white;
  border-radius: 2px;

  font-family: "SukhumvitSet";
  font-weight: 500;

  font-size: 1.2rem;
  line-height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
}
