@media screen and (pointer: coarse) {
  .text-block-num {
    opacity: 1;
    transition: 0.2s;
    transform: translateX(0);
  }
}

////////////////////////////////////////////////

@media screen and (max-width: 1440px) {
  .shedule-image {
    margin-top: 0px;
  }

  .phone-image {
    width: 300px;
  }
  .circle {
    width: 400px;
    height: 400px;
  }
  .money-block {
    justify-content: space-between;
    padding: 0 50px;
  }
  .shedule-block {
    align-items: baseline;
  }
  .shedule-text {
    width: 100%;
    padding: 0 50px;
    justify-content: space-between;
  }
  .shedule-text-img {
    margin-right: 0px;
  }
  #form-subs {
    width: 80%;
    height: 85%;
  }
  .inputs {
    margin-bottom: 30px;
  }
  .input {
    height: 40px;
  }
  .info-text {
    transform: translate(-50%, -40%);
  }
}

////////////////////////////////////////////////

@media screen and (max-width: 1024px) {
  .p275 {
    font-size: 10rem;
  }
  .phone-image {
    width: 275px;
  }
  .p32 {
    font-size: 1.6rem;
  }
  .header-links {
    width: 450px;
  }
  header {
    padding: 0 75px;
  }
  .p50 {
    font-size: 2rem;
  }
  .p22 {
    font-size: 1.2rem;
  }
  .shedule-text-img {
    width: 425px;
    & img {
      width: 100%;
    }
  }
  .circle {
    width: 300px;
    height: 300px;
  }
  .text-block-text {
    height: auto;
  }
  .text-block {
    height: auto;
    width: 400px;
  }
  .phone-block-textblocks .text-block:nth-child(1) {
    margin-right: 100px;
  }
  .money-block-img {
    width: auto;
    height: 682px;
    margin-top: 0px;
    margin-left: 150px;
    & img {
      width: 100%;
    }
  }
  .phone-block {
    padding: 100px 0px;
  }
  .label {
    font-size: 12px;
  }
  #form-subs {
    height: 85%;
  }
  footer {
    padding: 0px 85px;
  }
}

////////////////////////////////////////////////

@media screen and (max-width: 768px) {
  .header-links {
    display: none;
  }
  header {
    justify-content: center;
  }
  .p275 {
    font-size: 8rem;
    line-height: 350px;
  }
  .p32 {
    font-size: 1.4rem;
  }
  .header-links-mobile {
    width: 400px;
    font-size: 1rem;
    font-family: "SukhumvitSet";
    font-weight: 500;

    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
  }
  .info-text {
    width: 80%;
  }

  .shedule-image {
    margin-bottom: 100px;
  }

  .shedule-text {
    flex-direction: column-reverse;
  }

  .shedule-text-img {
    margin-top: 50px;
    width: auto;
  }
  .schedule-block {
    padding-bottom: 150px;
  }
  .money-block {
    padding: 0;
    padding-top: 100px;
    flex-direction: column;
  }
  #money-image {
    display: none;
  }
  #money-image-mobile {
    display: block;
  }
  .money-block-img {
    margin-left: 0px;
    margin-top: 75px;
    width: 100%;
    height: auto;
  }
  .phone-block-textblocks {
    flex-direction: column;
    align-items: center;
  }
  .phone-block-textblocks .text-block:nth-child(1) {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .phone-image {
    width: 250px;
  }
  .circle {
    width: 300px;
    height: 300px;
  }
  .subscribe-photo {
    display: none;
  }
  .subscribe-form {
    width: 100%;
  }
  footer {
    padding: 0px 65px;
  }
}

////////////////////////////////////////////////

@media screen and (max-width: 375px) {
  html,
  body {
    font-size: 16px;
    overflow-x: hidden;
  }
  .entry-block {
    background-image: url(../img/hero-image-mobile.png);
    background-position: right 72% top 50%;
  }

  .header {
    justify-content: center;
  }

  .salon-div {
    height: 150px;
  }

  #apple-icon,
  #google-icon {
    width: 10px;
    margin-right: 5px;
  }

  #logo {
    display: none;
  }

  #logo-mobile {
    display: block;
  }

  .header-links {
    display: none;
  }

  .bg-half-dark {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .p275 {
    font-size: 6.25rem;
    line-height: 130%;
  }

  .entry-text-quality {
    font-size: 1rem;
    line-height: 130%;
    margin-bottom: 0px;
  }

  .sbc-btn {
    margin-top: 45px;
    margin-bottom: 100px;
  }

  .header-links-mobile {
    font-size: 0.75rem;
    font-family: "SukhumvitSet";
    font-weight: 500;
    width: 250px;
    margin-top: 75px;
    display: flex;
    //gap: 10px;
    justify-content: space-between;
    align-items: center;
  }

  // 11111111111111111111111111111111111111111111111111111111111111111

  .info-block {
    height: 80vh;
  }

  .info-text {
    width: 100%;
    top: 50%;
    //gap: 30px;
  }

  .info-text-h {
    padding: 0 10px;
    font-size: 1.6rem;
    line-height: 130%;
  }

  .info-text-p {
    padding: 0 38px;
    font-size: 0.9rem;
    line-height: 172%;
  }

  // 11111111111111111111111111111111111111111111111111111111111111111

  .schedule-block {
    padding-bottom: 50px;
  }

  .shedule-image {
    margin-bottom: 50px;
    margin-top: 0px;
    width: 100%;
    height: auto;

    & img {
      width: 375px;
    }
  }

  .shedule-text {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    //gap: 30px;
  }

  .shedule-text-img {
    display: flex;
    justify-content: center;
  }

  .shedule-text-img {
    width: 100%;
    & img {
      width: 335px;
      height: 183px;
    }
  }

  .text-block {
    width: 375px;
    height: 110px;
    padding: 0 20px;
  }

  .text-block-num {
    width: 50%;
    height: 21px;
    & p {
      font-size: 1rem;
      line-height: 150%;
    }
  }

  .num-anim {
    opacity: 1;
    transition: 0.2s;
    transform: translateX(0);
  }

  .text-block-title {
    width: 100%;
    height: 32px;
    & p {
      font-size: 1.6rem;
      line-height: 130%;
    }
  }

  .text-block-text {
    width: 100%;
    height: calc(100% - 21px - 32px);
    padding-right: 10px;
    & p {
      font-size: 0.87rem;
      line-height: 172%;
    }
  }

  // 11111111111111111111111111111111111111111111111111111111111111111

  .money-block {
    width: 100%;
    padding: 0px;
    justify-content: space-between;
    //gap: 0;
    flex-direction: column;
    padding-top: 50px;
  }

  .money-block-img {
    width: 100%;
  }

  #money-image {
    display: none;
  }

  #money-image-mobile {
    display: block;
  }

  // 11111111111111111111111111111111111111111111111111111111111111111

  .phone-block {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .phone-block-textblocks {
    width: 100%;
    flex-direction: column;
    //gap: 40px;
  }

  .phone-block-phone {
    height: auto;
    margin: 20px 0;
  }

  .circle-block {
    //gap: 15px;
    width: auto;
    padding: 0;
    position: absolute;
    animation: circle-arrow-animation-mobile 2s infinite linear;
  }

  .circle {
    width: 200px;
    height: 200px;
  }

  .phone-image {
    width: 150px;
    height: 315px;
    & img {
      width: 100%;
    }
  }

  .phone-block-links {
    padding: 0 20px;
    //gap: 20px;
    height: auto;
  }

  .coming-soon-links {
    font-size: 0.75rem;
    line-height: 130%;
  }

  .link-btn {
    width: 160px;
    height: 45px;
  }

  .block-links {
    margin-top: 15px;
  }

  // 11111111111111111111111111111111111111111111111111111111111111111

  .subscribe-block {
    height: auto;
  }

  .subscribe-photo {
    display: none;
  }

  .subscribe-form {
    width: 100%;
    padding: 70px 0px;
  }

  #subscribe-footer {
    font-size: 1.6rem;
    line-height: 130%;
    margin-bottom: 5px;
  }

  #form-subs {
    width: 85%;
  }

  .inputs {
    margin-bottom: 0px;
  }

  .input {
    height: 55px;
  }

  .sbc-btn {
    margin-bottom: 0px;
  }

  .label {
    font-weight: 300;
  }

  // 11111111111111111111111111111111111111111111111111111111111111111

  footer {
    height: 95px;
    padding: 0px 20px;
  }

  #copyright-icon {
    margin-right: 3px;
    width: 8px;
  }

  .copyright-block {
    font-size: 0.62rem;
    line-height: 165%;
    align-items: center;
  }
}
