@import "main.scss";
@import "animations.scss";

header {
  padding: 0 115px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-links {
  font-family: "SukhumvitSet";
  font-weight: 500;

  display: flex;
  width: 500px;
  justify-content: space-between;
  align-items: center;
}

.head-app-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-decoration: none;
  color: inherit;
}

#apple-icon,
#google-icon {
  margin-right: 10px;
}

.main {
  width: 100%;
  background-color: lightcoral;
  overflow: hidden;
}

.entry-block {
  position: relative;
  height: 100vh;
  background-image: url(../img/hero-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-half-dark {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.72);

  padding-top: 80px;
}

.info-block {
  height: 100vh;
  color: $white;
  background-color: $dark-gray;

  position: relative;
}

#coming-soon-box {
  width: 100%;
  border: 1px solid aqua;
  text-align: center;
}

#coming-soon {
  font-family: "Saudagar";
  text-transform: uppercase;
  font-size: 15.9vw;
  line-height: 300px;
  opacity: 0.05;

  // width: 11ch;
  // font-size: 315px;
  // line-height: 100%;
  // text-align: center;
  // font-family: "Saudagar";
  // text-transform: uppercase;
}

ul {
  opacity: 0.05;
  font-size: 14vw;
  font-family: "Saudagar";

  display: flex;
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li {
  flex: 1;
  animation: comingsoon-animation 1s ease 0s 1 normal forwards;
  margin-top: -3.8%;
}

.info-text {
  max-width: 865px;
  text-align: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.info-text p:nth-child(2) {
  margin: 40px 0;
}

.info-text-h {
  padding: 0 20px;
  font-family: "Saudagar";
  text-transform: uppercase;
  color: $white;
}

.info-text-p {
  font-family: "SukhumvitSet";
  font-weight: 300;
  color: $light-gray;
}

.schedule-block {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 225px;
}

.shedule-image {
  z-index: 5;
  margin-top: -10%;
  margin-bottom: 225px;
  & img {
    width: 100%;
  }
}

.shedule-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shedule-text-img {
  margin-right: 250px;
}

.text-block {
  width: 484px;
  height: 330px;
  animation-iteration-count: 1;

  // &:hover {
  //   .text-block-num {
  //     transform: translateX(0);
  //     opacity: 1;
  //     transition: 0.3s;
  //     // animation: textblock-animation 0.5s ease-out forwards;
  //     // animation-iteration-count: 1;
  //   }
  // }
}

.text-block-num {
  width: 100%;
  font-family: "Saudagar";
  color: $accent;

  opacity: 0;
  transform: translateX(350px);
}

.num-anim {
  opacity: 1;
  transition: 0.2s;
  transform: translateX(0);
}

.text-block-title {
  width: 390px;
  font-family: "Saudagar";
  text-transform: uppercase;
  color: $dark-gray;
}

.text-block-text {
  width: 100%;
  height: calc(100% - 180px);
  font-family: "SukhumvitSet";
  font-weight: 300;
  color: $gray;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.money-block {
  background-color: $dark-gray;

  display: flex;
  justify-content: center;
  align-items: center;
}

.money-block-img {
  width: 580px;
  height: 1030px;
  margin-top: -80px;
  margin-left: 300px;
}

.phone-block {
  padding: 150px 0px;
  background-color: $white;
}

.phone-block-textblocks {
  display: flex;
  justify-content: center;
}

.phone-block-textblocks .text-block:nth-child(1) {
  margin-right: 400px;
}

.phone-block-phone {
  width: 100%;
  margin: 50px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.phone-block-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block-links {
  display: flex;
  margin-top: 40px;
}

.block-links button:nth-child(1) {
  margin-right: 20px;
}

.coming-soon-links {
  font-family: "SukhumvitSet";
  font-weight: 500;
}

.subscribe-block {
  height: 90vh;
  background-color: lightgray;
}

.subscribe-photo {
  width: 50%;
  height: 100%;
  float: left;
  background-position: center;

  background-image: url(../img/subscribe-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-form {
  width: 50%;
  height: 100%;
  float: left;

  display: flex;
  justify-content: center;
  align-items: center;
}

#form-subs {
  width: 560px;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  width: 100%;
  height: 110px;
  padding: 0px 115px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.copyright-block {
  display: flex;
  align-items: center;
  font-family: "SukhumvitSet";
  font-weight: 500;
}

#copyright-icon {
  margin-right: 8px;
}

.inputs {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
}

.entry-text {
  margin: 45px auto;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.entry-text-quality {
  text-transform: uppercase;
  font-family: "SukhumvitSet";
  font-weight: 300;
  margin-bottom: 50px;
}

.input-reverse {
  display: flex;
  flex-direction: column-reverse;

  position: relative;
}

.label {
  opacity: 0;

  color: $white;
  font-family: "SukhumvitSet";
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: -5px;
}

.input:focus + .label {
  transition: opacity 0.3s linear;
  opacity: 1;
}

#dropdown-arrow-icon {
  // width: 10px;
  // height: 10px;
  font-size: 0.8rem;

  cursor: pointer;

  position: absolute;
  right: 10px;
  top: 60%;
}

.salon-anim {
  animation: salon_animation 3s infinite steps(5);
  white-space: nowrap;
  overflow: hidden;
}

.salon-div {
  height: 265px;
}

#salon::after {
  content: " ";
  animation: abomination1 4s linear infinite;
}

@keyframes abomination1 {
  0% {
    content: "";
  }
  22.5% {
    content: "S";
  }
  35% {
    content: "SA";
  }
  47.2% {
    content: "SAL";
  }
  60% {
    content: "SALO";
  }
  72.5% {
    content: "SALON";
  }
  100% {
    content: "SALON";
  }
}

.circle-block {
  position: absolute;
  display: flex;
  align-items: center;
  animation: circle-arrow-animation 4s infinite linear;
}

.circle-block .circle:nth-child(2) {
  margin: 0 25px;
}

.circle {
  width: 500px;
  height: 500px;
  // background-color: $accent;
  border-radius: 50%;
  z-index: 0;
  animation: circle-animation 10s infinite linear;
}

.phone-image {
  width: 350px;
  z-index: 10;
  & img {
    width: 100%;
  }
}

#logo-mobile {
  display: none;
}

.header-links-mobile {
  display: none;
}

#money-image-mobile {
  display: none;
}

@import "mobile.scss";
