@import "./variables.scss";

header {
  display: flex;
  height: 88px;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 70px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}

.logo {
  font-family: "Poppins", "Roboto", sans-serif;
  font-style: italic;
  font-weight: 800;
  font-size: 1.125rem;
}

.btn-lang {
  width: 45px;
  height: 45px;
  background: #ffffff;
  border: 0.5px solid #c9cad1;
  border-radius: 12px;
  text-align: center;
  justify-items: center;
  cursor: pointer;
  transition: 0.3s;

  & p {
    font-family: "Poppins", "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  &:hover {
    background-color: #ebebed;
    transition: 0.3s;
  }
}

.nav-header {
  display: flex;
  justify-content: space-between;

  & button:nth-child(2) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.link-home,
.link-home-light {
  font-family: "Poppins", "Roboto";
  font-size: 0.9rem;
  width: 85px;
  height: 45px;
  background: #010101;
  border: 0.5px solid #c9cad1;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    opacity: 75%;
    transition: 0.5s;
  }
}

.link-not-auth {
  font-family: "Poppins", "Roboto";
  font-size: 0.9rem;
  width: 85px;
  height: 45px;
  background: #fb766e;
  border: 0.5px solid #c9cad1;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    opacity: 75%;
    transition: 0.5s;
  }
}

.link-user {
  width: 45px;
  height: 45px;
  background: #ffffff;
  border: 0.5px solid #c9cad1;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;

  & img {
    width: 110%;
    height: 110%;
    object-fit: cover;
  }
}

.link-user1 {
  width: 45px;
  height: 45px;
  background: #ffffff;
  border: 0.5px solid #c9cad1;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;

  & img {
    width: 110%;
    height: 110%;
    object-fit: cover;
  }
}

.link-home-light {
  display: none;
}

@media screen and (max-width: 1024px) {
  .btn-lang,
  .link-home,
  .link-user1 {
    display: none;
  }

  .link-home-light {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: $gray;
  }

  header {
    height: 76px;
    padding: 0 44px;
  }
}

@media screen and (max-width: 769px) {
  header {
    height: 64px;
    padding: 0 40px;
  }
}
