@import "./variables.scss";

.wrapper-home {
  display: flex;
  width: 950px;
  margin: 0 auto;
  justify-content: space-between;
}

.home-content {
  width: 60%;
  height: auto;
}

.home-user-info {
  width: 35%;
  height: auto;
}

.user-info {
  width: 100%;
  height: 360px;
  position: sticky;
  top: 0;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.data-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 36px 24px 12px;
}

.data-followers {
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
}

.data-followers p:last-child {
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  color: #c9cad1;
}

.data-profilePic {
  width: 85px;
  height: 85px;
  border-radius: 24px;
  background: linear-gradient(45deg, #74edf2 0%, #5156e6 100%);
  display: flex;
  align-items: center;
  justify-content: center;

  & div {
    width: 79px;
    height: 79px;
    border-radius: 24px;
    border: 2px solid white;
    background-color: white;
    position: relative;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      object-fit: cover;
    }

    & a,
    & button {
      position: absolute;
      left: 35%;
      bottom: -15%;
      border: 0px solid;
      width: 20px;
      height: 20px;
      background: linear-gradient(45deg, #74edf2 0%, #5156e6 100%);
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.75rem;
      transition: 0.1s;
      cursor: pointer;
      color: white;

      &:hover {
        font-size: 0.9rem;
        transition: 0.1s;
      }
    }
  }
}

.data-following {
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
}

.data-following p:last-child {
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  color: #c9cad1;
}

.name-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  width: 100%;
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  & span {
    opacity: 0.5;
    margin: 0 10px;
  }
}

.bio-info {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 6px 0 16px 0;

  color: #808080;
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 20px;
}

.button-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 57.5px;
  width: 100%;
  padding-bottom: 24px;
}

.btn-edit-profile {
  width: 100px;
  height: 40px;
  background-color: #fff;
  color: #010101;
  border-radius: 12px;
  cursor: pointer;
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 20px;
  transition: 0.3s;
  text-decoration: none;
  border: 1px solid #c9cad1;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #f0f0f0;
    transition: 0.5s;
  }
}

.btn-new-post {
  width: 100px;
  height: 40px;
  background-color: $primary;
  color: #fff;
  border-radius: 12px;
  border: 0 solid;
  cursor: pointer;
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 20px;
  transition: 0.3s;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $primaryHover;
    transition: 0.5s;
  }
}

footer {
  width: 100%;
  text-align: center;
  align-self: center;
  color: #c9cad1;
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 26px;
  & div {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    & a {
      text-decoration: none;
      color: #c9cad1;
      transition: 0.5s;

      &:hover {
        text-decoration: none;
        color: #010101;
      }
    }
  }
}

////////////////////////////////////////////////

.stories {
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  padding: 0px 0px 10px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  overflow-x: scroll;
  mask-image: -webkit-gradient(
    linear,
    75% top,
    100% bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );

  &::-webkit-scrollbar {
    display: none;
  }
}

.story {
  width: 64px;
  height: 64px;
  margin-right: 24px;
  border-radius: 16px;
  background: linear-gradient(45deg, #74edf2 0%, #5156e6 100%);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & div {
    width: 58px;
    height: 58px;
    border-radius: 12px;
    border: 2px solid white;
    background-color: white;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
      filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
    }
  }
}

//////////////////////////////////////////////////////

.posts {
  width: 100%;
}

.post {
  width: 100%;
  margin-bottom: 65px;
}

.post-header {
  width: 100%;
  height: 8%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-author {
  display: flex;
  align-items: center;

  & img {
    width: 40px;
    height: 40px;
    border-radius: 12px;
    margin-right: 16px;
    border: 0.5px solid #c9cad1;
    object-fit: cover;
  }

  & div {
    font-family: "Poppins", "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;

    & p:last-child {
      font-family: "Poppins", "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 0.75rem;
      line-height: 20px;
      opacity: 0.25;
    }
  }
}

.post-dots {
  padding: 0 5px;
}

.icon-dots {
  font-size: 1.25rem;
  color: #c9cad1;
  cursor: pointer;
}

.post-body {
  width: 100%;
}

.post-image {
  width: 100%;
  height: 570px;
  position: relative;

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 48px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px;
  }
}

.post-desc {
  width: 100%;
  max-height: 75px;
  box-sizing: border-box;
  padding: 14px 10px;
  overflow: hidden;
  margin-bottom: 5px;

  & p {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    font-family: "Poppins", "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    color: #808080;
  }
}

.post-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
}

.post-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  & p {
    font-family: "Poppins", "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
  }
}

.icon-like,
.icon-comment {
  font-size: 1.25rem;
  color: #c9cad1;
  margin-right: 8px;
  cursor: pointer;
}

.icon-liked {
  font-size: 1.25rem;
  color: $liked;
  margin-right: 8px;
  cursor: pointer;
}

.icon-comment {
  margin-left: 24px;
}

.post-share {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  outline: none;
  border: 0px solid white;
  background-color: transparent;

  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
}

.icon-share {
  font-size: 1.25rem;
  margin-left: 5px;
}

.share {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 48px;
  top: 0;
  z-index: -999;
  color: white;
  font-family: "Poppins", "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 20px;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.65);
}

.share-anim {
  animation-name: CopiedToBuffer;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  z-index: 999;
  opacity: 1;
}

@keyframes CopiedToBuffer {
  from {
    z-index: 0;
    opacity: 0;
  }
  to {
    z-index: 999;
    opacity: 1;
  }
}

.not-auth {
  outline: none;
  border: 0px solid white;
  background-color: transparent;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", "Roboto";
}

.loading__letter {
  font-weight: normal;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.loading__letter:nth-child(2) {
  animation-delay: 0.1s;
}
.loading__letter:nth-child(3) {
  animation-delay: 0.2s;
}
.loading__letter:nth-child(4) {
  animation-delay: 0.3s;
}
.loading__letter:nth-child(5) {
  animation-delay: 0.4s;
}
.loading__letter:nth-child(6) {
  animation-delay: 0.5s;
}
.loading__letter:nth-child(7) {
  animation-delay: 0.6s;
}
.loading__letter:nth-child(8) {
  animation-delay: 0.8s;
}
.loading__letter:nth-child(9) {
  animation-delay: 1s;
}
.loading__letter:nth-child(10) {
  animation-delay: 1.2s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(2px);
  }
}

@media screen and (max-width: 1024px) {
  .home-user-info {
    display: none;
  }

  .wrapper-home {
    width: 90%;
  }

  .home-content {
    width: 100%;
  }

  .stories {
    margin-bottom: 10px;
  }

  .story {
    width: 64px;
    height: 64px;
    border-radius: 16px;
    margin-right: 22px;

    & div {
      width: 58px;
      height: 58px;
      border-radius: 14px;

      & img {
        border-radius: 10px;
      }
    }
  }

  .post {
    margin-bottom: 40px;
  }

  .post-header {
    height: 60px;
  }

  .post-image {
    height: 750px;

    & img {
      border-radius: 24px;
    }
  }

  .post-desc {
    margin-bottom: 10px;
  }

  .icon-dots {
    font-size: 1.125rem;
  }
}

@media screen and (max-width: 769px) {
  .link-user {
    width: 40px;
    height: 40px;
  }

  .stories {
    margin-bottom: 5px;
  }

  .story {
    width: 50px;
    height: 50px;
    border-radius: 16px;
    margin-right: 12px;

    & div {
      width: 46px;
      height: 46px;
      border-radius: 14px;

      & img {
        border-radius: 8px;
      }
    }
  }

  .post-image {
    height: 550px;
  }

  .story {
    width: 50px;
    height: 50px;
    border-radius: 16px;
    margin-right: 12px;

    & div {
      width: 46px;
      height: 46px;
      border-radius: 14px;

      & img {
        border-radius: 8px;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .post-image {
    height: 350px;
  }
}

@media screen and (max-width: 320px) {
  .post-image {
    height: 300px;
  }
}
