@import "./variables.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

.modal-edit,
.modal-new {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 575px;
  height: 650px;
  border-radius: 32px;
  background: white;
  padding: 48px;
  box-sizing: border-box;
}

.edit-header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  & p {
    font-family: "Poppins", "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 54px;
  }

  & button {
    background-color: transparent;
    border: 0px solid;
    text-decoration: none;
    font-family: "Poppins", "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    color: #fb766e;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.edit-body {
  width: 100%;
}

.edit-body-top {
  width: 100%;
  display: flex;
  position: relative;
}

.body-top-image {
  width: 35%;
  height: 165px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #c9cad1;

  & img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  &:hover > .edit-button-file {
    display: flex;
    transition: 0.5s;

    outline: none;
    border: 0px solid white;
  }
}

input[type="file"] {
  display: none;
}

.edit-button-file {
  transition: 0.5s;
  height: 28px;
  bottom: 0px;
  position: absolute;
  width: 100%;
  background-color: black;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 0px 0px 7px 7px;

  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 20px;

  animation-name: uploadPhoto;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  opacity: 1;
}

@keyframes uploadPhoto {
  from {
    z-index: 0;
    opacity: 0;
  }
  to {
    z-index: 999;
    opacity: 1;
  }
}

.body-top-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 65%;
  padding-left: 40px;
}

.edit-input {
  width: 100%;
  margin-top: 5px;

  & p {
    width: 100%;
    height: 20px;
    color: #808080;
    font-family: "Poppins", "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 20px;
    margin-bottom: 2px;
  }

  & input {
    width: 100%;
    height: 53px;
    background: #ffffff;
    border: 1px solid #c9cad1;
    box-sizing: border-box;
    border-radius: 12px;
    padding-left: 14px;
    padding-right: 14px;
    font-family: "Poppins", "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      opacity: 40%;
      font-family: "Poppins", "Roboto";
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
    }
  }
}

#textarea-p {
  margin-top: 32px;
}

textarea {
  width: 100%;
  height: 70px;
  background: #ffffff;
  border: 1px solid #c9cad1;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 14px;
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  resize: none;

  &:focus {
    outline: none;
  }

  &::placeholder {
    opacity: 40%;
    font-family: "Poppins", "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
  }
}

.edit-body-bottom {
  padding-top: 32px;
  width: 100%;
}

.edit-footer,
.new-footer {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.edit-button-cancel {
  border: 1px solid #c9cad1;
  width: 45%;
  height: 48px;
  background-color: #fff;
  color: #010101;
  border-radius: 12px;
  cursor: pointer;
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 20px;
  transition: 0.3s;
}

.edit-button-cancel:hover {
  background-color: #f0f0f0;
  transition: 0.5s;
}

.edit-button-save {
  width: 45%;
  height: 48px;
  background-color: $primary;
  color: #fff;
  border-radius: 12px;
  border: 0 solid;
  cursor: pointer;
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 20px;
  transition: 0.3s;
}

.edit-button-save:hover {
  background-color: $primaryHover;
  transition: 0.5s;
}

.new-body-image {
  width: 100%;
  height: 325px;
  // background: #c9cad1;
  border: 1px solid #c9cad1;
  border-radius: 12px;

  & img {
    width: 100%;
    cursor: alias;
  }
}

.new-body-desc {
  padding-top: 8px;
  width: 100%;
}

.modal-view {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 1079px;
  height: 650px;
  border-radius: 32px;
  background: white;
  box-sizing: border-box;

  display: flex;
}

.view-image {
  width: 650px;
  height: 650px;
  border-radius: 32px;

  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 32px 0 0 32px;
  }
}

.view-comment {
  width: 40%;
  height: 100%;
  border-radius: 0 32px 32px 0;
  border-left: 0.5px solid #333333;
}

.comment-header {
  width: 100%;
  height: 80px;
  border-bottom: 0.5px solid #c9cad1;
  border-radius: 0 32px 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;

  & div {
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;

    & img {
      width: 40px;
      height: 40px;
      border-radius: 12px;
      margin-right: 16px;
      border: 0.5px solid #c9cad1;
    }
  }
}

.icon-times {
  cursor: pointer;
  font-size: 1.25rem;
  color: #808080;

  outline: none;
  border: 0px solid white;
  background-color: transparent;
}

.comment-body {
  width: 100%;
  height: 425px;
  border-bottom: 0.5px solid #c9cad1;
  padding: 32px 32px 0px 32px;
  overflow-y: auto;
}

.comment-likes {
  display: flex;
  align-items: center;
  padding: 0 32px;

  width: 100%;
  height: 64px;
  border-bottom: 0.5px solid #c9cad1;

  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 20px;
}

.comment-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;

  width: 100%;
  height: 80px;
  border-radius: 0 0 32px 0;

  & input {
    border: 0 solid;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 20px;
    width: 85%;

    &:focus {
      outline-style: none;
    }

    &::placeholder {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 20px;
    }
  }

  & button {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
    color: $primary;
    border: 0 solid;
    background-color: #fff;
    cursor: pointer;
  }
}

.comments {
  width: 100%;
}

.comment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 350px;
  margin-bottom: 32px;

  & img {
    width: 40px;
    height: 40px;
    border-radius: 12px;
  }
}

.comment-data {
  width: 300px;
  margin-left: 10px;
  overflow-wrap: break-word;
}

.data-message {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 20px;
}

.data-time {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 20px;
  color: #c9cad1;
}

.new-footer-mobile,
.modal-edit-mobile {
  display: none;
}

@media screen and (max-width: 425px) {
  .modal {
    background: 0;
  }

  .modal-new {
    background-color: #fafbfc;
    width: 100%;
    height: calc(100vh - 65px);
    top: 53.5%;
    border-radius: 0;
    padding: 30px;
  }

  textarea {
    height: 100px;
  }

  .new-footer {
    display: none;
  }

  .new-footer-mobile {
    display: block;
    margin-top: 95px;
  }

  .edit-footer-mobile {
    margin-top: 160px;
  }

  .new-button-cancel {
    border: 1px solid #c9cad1;
    width: 100%;
    height: 48px;
    background-color: #fff;
    color: #010101;
    border-radius: 12px;
    cursor: pointer;
    font-family: "Poppins", "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 20px;
    transition: 0.3s;
  }

  .new-button-cancel:hover {
    background-color: #f0f0f0;
    transition: 0.5s;
  }

  .new-button-save {
    width: 100%;
    height: 48px;
    background-color: $primary;
    color: #fff;
    border-radius: 12px;
    border: 0 solid;
    cursor: pointer;
    font-family: "Poppins", "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 20px;
    transition: 0.3s;
    margin-bottom: 8px;
  }

  .new-button-save:hover {
    background-color: $primaryHover;
    transition: 0.5s;
  }

  .modal-edit {
    display: none;
  }

  .modal-edit-mobile {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 575px;
    height: 650px;
    border-radius: 32px;
    background: white;
    padding: 48px;
    box-sizing: border-box;

    background-color: #fafbfc;
    width: 100%;
    height: calc(100vh - 65px);
    top: 53.5%;
    border-radius: 0;
    padding: 30px;
  }

  .edit-body > .edit-input:nth-child(1) {
    margin-bottom: 16px;
  }

  .edit-body-bottom {
    padding-top: 16px;
  }
}
