@import "./variables.scss";

.wrapper-profile {
  margin: 0 auto;
  width: 1024px;
  margin-bottom: 50px;
}

.profile-info {
  width: 100%;
  height: 250px;
  padding-top: 35px;
  padding-bottom: 35px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.info-main {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}

.main-image {
  width: 120px;
  height: 120px;
  margin-right: 32px;

  border-radius: 30px;
  background: linear-gradient(45deg, #74edf2 0%, #5156e6 100%);
  display: flex;
  align-items: center;
  justify-content: center;

  & div {
    width: 112px;
    height: 112px;
    border-radius: 26px;
    border: 2px solid white;
    background-color: white;

    & img {
      width: 100%;
      height: 100%;
      border-radius: 26px;
    }
  }
}

.main-data {
  width: 65%;
  height: 120px;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", "Roboto";
  font-style: normal;

  & p:nth-child(1) {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 20px;
    margin-bottom: 10px;
  }

  & p:nth-child(2) {
    font-weight: normal;
    font-size: 1rem;
    line-height: 20px;
    margin-bottom: 20px;
  }

  & p:nth-child(3) {
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 20px;
    color: #808080;
  }
}

.info-additional {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 400px;
  padding-top: 15px;
}

.addit-subscribe {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  text-align: right;

  & > div:nth-child(2) {
    margin-left: 85px;
  }
}

.foll-number {
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 20px;
}

.foll-text {
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  color: #c9cad1;
}

.addit-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 24px;
}

.addit-btn-edit {
  width: 140px;
  height: 40px;
  background-color: #fff;
  color: #010101;
  border: 1px solid #c9cad1;
  border-radius: 12px;
  cursor: pointer;
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 20px;
  transition: 0.3s;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #f0f0f0;
    transition: 0.5s;
  }
}

.addit-btn-new {
  width: 140px;
  height: 40px;
  background-color: $primary;
  color: #fff;
  border-radius: 12px;
  border: 0 solid;
  cursor: pointer;
  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 20px;
  margin-left: 20px;
  transition: 0.3s;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $primaryHover;
    transition: 0.5s;
  }
}

.profile-posts {
  display: inline-grid;
  grid-template-columns: repeat(3, 33.3%);
  grid-row-gap: 3px;
  grid-column-gap: 3px;
  justify-content: space-between;
  width: 100%;
}

.profile-post-one {
  height: 325px;
  position: relative;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &:hover > .profile-post-delete {
    display: flex;
    transition: 0.5s;
  }
}

.profile-post-delete {
  transition: 0.5s;
  bottom: 15px;
  left: 30%;
  position: absolute;
  border-radius: 16px;
  width: 135px;
  height: 35px;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #f34234;
  cursor: pointer;

  outline: none;
  border: 0px solid white;

  font-family: "Poppins", "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 20px;
  animation-name: deleteButton;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  opacity: 1;

  &:hover {
    background-color: #cf3529;
  }
}

@keyframes deleteButton {
  from {
    z-index: 0;
    opacity: 0;
  }
  to {
    z-index: 999;
    opacity: 1;
  }
}

.icon-delete {
  color: white;
  font-size: 1.125rem;
  margin-left: 10px;
}

.profile-info-mobile {
  display: none;
}

@media screen and (max-width: 1024px) {
  .wrapper-profile {
    width: 100%;
    padding: 0 12px 0 12px;
  }

  .profile-info-mobile {
    display: flex;
    height: 285px;
    width: 100%;
  }

  .profile-info {
    display: none;
  }

  .profile-post-one {
    height: 315px;
  }

  .data-info {
    padding: 32px 54px 12px;
  }

  .name-info {
    padding: 10px 24px;
  }

  .bio-info {
    padding: 0 0 12px 0;
  }

  .btnInfoEditProfile {
    border: 1px solid #c9cad1;
  }

  .wrapper-profile {
    margin-bottom: 16px;
  }
  .btn-edit-profile {
    border: 1px solid #c9cad1;
  }

  .btn-edit-profile,
  .btn-new-post {
    width: 165px;
  }

  .button-info {
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 768px) {
  .profile-post-one {
    height: 230px;
  }
}

@media screen and (max-width: 425px) {
  .profile-post-one {
    height: 125px;
  }

  .button-info {
    padding: 0;
  }
}

@media screen and (max-width: 375px) {
  .btn-edit-profile,
  .btn-new-post {
    width: 150px;
  }

  .data-info {
    padding: 32px 36px 12px;
  }

  .profile-post-one {
    height: 115px;
  }
}

@media screen and (max-width: 320px) {
  .btn-edit-profile,
  .btn-new-post {
    width: 125px;
  }

  .data-info {
    padding: 32px 16px 12px;
  }

  .profile-post-one {
    height: 100px;
  }
}
