@import "sign-anim.scss";

@import "variables.scss";

.wrapper-sign {
  display: flex;
  width: 1200px;
  height: calc(100vh - 88px);
  margin: 0 auto;
  align-items: center;
}

.sign-content {
  margin-top: -5%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 700px;
}

.sign-pictures {
  width: 40%;
  height: 100%;
  text-align: right;
  position: relative;
}

.sign-picture-main {
  height: 100%;
  box-shadow: 0px 5px 85px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.signin-picture-1,
.signin-picture-2,
.signin-picture-3,
.signup-picture-1,
.signup-picture-2,
.signup-picture-3 {
  position: absolute;
  filter: drop-shadow(4px 4px 25px rgba(0, 0, 0, 0.5));
  border-radius: 16px;
}

.signin-picture-1 {
  animation-name: SignInPic1Anim;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.signin-picture-2 {
  animation-name: SignInPic2Anim;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.signin-picture-3 {
  animation-name: SignInPic3Anim;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.signup-picture-1 {
  animation-name: SignUpPic1Anim;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.signup-picture-2 {
  animation-name: SignUpPic2Anim;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.signup-picture-3 {
  animation-name: SignUpPic3Anim;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.form-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 40%;
  height: 100%;

  & > p {
    font-family: "Poppins", "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 0.85rem;
    line-height: 20px;
    color: #808080;

    animation-name: SignForm;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    & > a {
      color: $primary;
      margin-left: 10px;
      text-decoration: none;

      &:hover {
        color: $primaryHover;
        margin-left: 10px;
        text-decoration: none;
      }
    }
  }
}

.form-title {
  width: 85%;
  animation-name: SignForm;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

  & h1 {
    font-family: "Poppins", "Roboto";
    font-style: normal;
    font-weight: bold;
    font-size: 3.3rem;
    margin: 9% 0;
  }
}

.form-input {
  width: 85%;
  margin-bottom: 8px;

  & p {
    width: 100%;
    height: 20px;
    color: $gray;
    font-family: "Poppins", "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 20px;
    margin-top: 12px;
    margin-bottom: 5px;
  }

  & input {
    width: 100%;
    height: 53px;
    background: #ffffff;
    border: 1px solid #c9cad1;
    box-sizing: border-box;
    border-radius: 12px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: "Poppins", "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      opacity: 40%;
      font-family: "Poppins", "Roboto";
      font-style: normal;
      font-weight: normal;
      font-size: 1.125rem;
    }
  }
}

.form-button {
  width: 85%;
  height: 54px;
  background-color: $primary;
  border-radius: 12px;
  border: 0px;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 4%;
  transition: 0.3s;
  animation-name: SignForm;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;

  display: flex;
  justify-content: center;
  align-items: center;

  & p {
    font-family: "Poppins", "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 20px;
    color: #ffffff;
  }

  &:hover {
    background-color: $primaryHover;
    transition: 0.5s;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper-sign {
    width: 1024px;
  }

  .sign-content {
    width: 100%;
    margin-top: -10%;
  }

  .sign-pictures {
    width: 45%;
  }

  .form-content {
    width: 45%;
  }

  .p_up {
    margin-top: 230px;
  }

  .p_in {
    margin-top: 323px;
  }
}

@media screen and (max-width: 769px) {
  .wrapper-sign {
    width: 100%;
  }

  .sign-pictures {
    display: none;
  }

  .sign-content {
    height: 100%;
  }

  .form-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;

    & h1 {
      font-family: "Poppins", "Roboto";
      font-style: normal;
      font-weight: bold;
      font-size: 2rem;
      line-height: 48px;
      margin: 15% 0 8% 0;
    }
  }

  .form-title,
  .form-input {
    width: 90%;
  }

  .form-input input {
    height: 48px;
  }

  .form-button {
    order: 1;
    width: 90%;
  }
}
