@keyframes SignInPic1Anim {
  from {
    width: 225px;
    height: 225px;
    top: 40.5%;
    left: -12%;
  }
  1% {
    z-index: -1;
  }
  to {
    width: 125px;
    height: 125px;
    top: 30%;
    left: 96%;
    z-index: -1;
  }
}

@keyframes SignInPic2Anim {
  from {
    width: 125px;
    height: 125px;
    top: 30%;
    left: 96%;
    z-index: 1;
  }
  to {
    width: 200px;
    height: 200px;
    top: 78%;
    left: 86%;
  }
}

@keyframes SignInPic3Anim {
  from {
    width: 200px;
    height: 200px;
    top: 78%;
    left: 86%;
  }
  to {
    width: 225px;
    height: 225px;
    top: 40.5%;
    left: -12%;
  }
}

@keyframes SignUpPic1Anim {
  from {
    width: 125px;
    height: 125px;
    top: 30%;
    left: 96%;
    z-index: -1;
  }
  1% {
    z-index: 1;
  }
  to {
    width: 225px;
    height: 225px;
    top: 40.5%;
    left: -12%;
    z-index: 1;
  }
}

@keyframes SignUpPic2Anim {
  from {
    width: 200px;
    height: 200px;
    top: 90%;
    left: 86%;
  }
  to {
    width: 125px;
    height: 125px;
    top: 30%;
    left: 96%;
    z-index: -1;
  }
}

@keyframes SignUpPic3Anim {
  from {
    width: 225px;
    height: 225px;
    top: 40.5%;
    left: -12%;
  }
  to {
    width: 200px;
    height: 200px;
    top: 78%;
    left: 86%;
  }
}

@keyframes SignForm {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
